@font-face {
	font-family: InriaSans;
	src: url('../assets/Fonts/InriaSans-Regular.ttf');
}

@font-face {
	font-family: Inria;
	src: url('../assets/Fonts/InterVar.ttf');
}

body {
	-webkit-user-select: none;
	/* Chrome, Safari, Opera */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently supported by all major browsers */
	margin: 0px;
	height: 100vh;
}

* {
	font-family: Inria, InriaSans, 'Courier New',
		monospace;
}

*:focus {
	/* outline: none; */
	border: none;
	outline-color: #3220E6;
}

.App {
	position: relative;
	display: grid;
	grid-template-rows: 30px auto;
	text-align: center;
	height: 100vh;
	width: 100vw;
	--round-gradient: radial-gradient(at top right, #7B59E2, #3220E6);
	overflow: hidden;
	--main-color-1: #3220E6;
}

.app:last-child() {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	top: 30px;
}

.Main-Window {
	background-color: white;
	position: relative;
}

.error-message {
	color: red;
	margin: 0px;
	font-size: 0.8rem;
	min-height: 1rem;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes click {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.8);
	}

	100% {
		transform: scale(1);
	}
}