.ManageAccount {
    position: absolute;
    display: grid;
    grid-template-rows: auto 1fr auto;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    /* justify-content: center;
    /* flex-direction: column; */
}

.ManageAccountContainer {
    position: relative;
    width: 100%;
    height: 100%;
    /* top: 0px;
    left: 260px;
    right: 0px;
    bottom: 0px; */
    /* justify-content: center;
    /* flex-direction: column; */
}

.account-form-container {
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr 1fr ;
    gap: 15px;
    padding: 20px 0px;
    border: solid #cccccc;
    border-width: 0px 0px 1px 0px;
    /* display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    padding: 20px 0px;
    */
}

.account-form-container>div,
.account-form-container>input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 5px 15px;
}

.account-form-container>div>div,
.account-form-container>div>select {
    width: 100%;
    height: 100%;
    min-height: 2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
}

.account-form-container>div>div>label {
    font-style: normal;
}

.account-table-heading  {
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr 1fr;
    gap: 15px;
    background-color: #5B40E4;
    color: white;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: small;
}

.account-table-heading >div {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 15px 30px;
}

.account-table-heading >div>p {
    margin: 0px;
    padding: 0px;
    text-align: left;
}

.account-table {
    gap: 10px;
    top: 0px;
    bottom: 0px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    border: solid #cccccc;
    border-width: 0px 0px 1px 0px;
}