
.BooksPage {
	--row-height: 45px;
	position: relative;
	/* background-color: #eeeeee; */
	max-height: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 10px;
	display: grid;
	grid-template-rows: 50px auto 50px;
	gap: 10px;
}


.controls {
	align-self: center;
	align-items: center;
	height: 40px;
	display: flex;
	justify-content: space-between;
	color: #5B40E4;
	font-weight: bold;
	box-sizing: border-box;
	padding: 5px;
}


.controls > button {
	width: 100px;
	height: 30px;
	font-size: 12px;
	font-weight: bold;
	color: #5B40E4;
	background-color: transparent;
	border: #5B40E4 solid 1px;
	/* border-radius: 5px; */
	transition: all 0.2s ease-in-out;

}

.controls > button:hover {
	background-color: #5B40E4;
	color: white;
}

.controls > button:active {
	transform: scale(0.9);
}

.controls > a:active {
	animation: click 1s ease-in-out;
}


.controls > div  {
	display: flex;
	align-items: center;
	font-size: 12px;
}

.controls > div > input {
	text-align: center;
	max-width: 1.5rem;
	color: #5B40E4;
	border: none;
}

.search-container {
	display: flex;
	justify-content:space-between;
	align-items: center;
	gap: 10px;
}

.search-bar {
	width: min(100%, 500px);
}
