.Main-TitleBar {
	width: 100%;
	height: 30px;
	background-color: white;
	box-sizing: border-box;
	display: grid;
	grid-column: 1/3;
	grid-template-columns: 1fr 40% 1fr;
	justify-items: center;
	align-items: center;
	border-color: #cccccc;
	border-style: solid;
	border-width: 1px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}

.DragBar {
	width: 100%;
	height: 1rem;
	grid-column: 2;
	border: #cccccc 1px solid;
	border-radius: 10px;
	align-content: center;
	-webkit-app-region: drag; /* Makes this element draggable */
	
}

.DragBar > h6 {
	margin: 0px;
	color:  #aeaeae;
	cursor: grab;
}

.ControlMenu {
	display: flex;
	justify-self: right;
	min-width: fit-content;
}

.ControlButton {
	display: flex;
	padding: 10px;
	width: 40px;
	height: 30px;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	transform: scale(1.0);
	transition: all 0.05s ease-in-out;
}

.ControlButton:hover {
	transform: scale(1.5);
}


.ControlButton:focus {
	border: none;
}

.ControlButton > img {
	width: 100%;
	object-fit:scale-down;
	transform: scale(1.0);
	transition: all 0.05s ease-in-out;
}

/* .ControlButton > img:hover {
	transform: scale(1.5);
}	 */

/* .ControlButton {
	padding: 0px;
	width: 10px;
	height: 10px;
	margin: 0px 10px 0px 10px;
	background-color: #5B40E4;
	border: none;
	border-radius: 50px;
}

.ControlButton:focus {
	padding: 0px;
	width: 10px;
	height: 10px;
	margin: 0px 10px 0px 10px;
	background-color: #5B40E4;
	border: none;
	border-radius: 50px;
	
}

.ControlButton:hover {
	padding: 0px;
	width: 10px;
	height: 10px;
	margin: 0px 10px 0px 10px;
	background-color: #7B59E2;
	border: none;
	border-radius: 50px;
} */

.ControlButton > img {
	width: 100%;
	height: 100%;
}