
.TableRow {
	display: grid;
	width: 100%;
	grid-template-columns: 50px 1fr 1fr 1fr 1fr 1fr;
	height: 50px !important;
	min-height: 50px !important;
	font-size: 12px;
	align-content: center;

}

.TableRow > p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 100%;
}

.TableRow > div {
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.TableRow > div > input[type="checkbox"] {
	display: none;
}

.TableRow > div > label {
	text-align: center;
	display: inline-block;
	width: 15px;
	height: 15px !important;
	border-radius: 5px; /* For rounded corners */
	cursor: pointer;
	pointer-events: none;
}

.TableRow > div > input[type="checkbox"]:checked + label::before {
	content: '';
	width: 9px;
	height: 9px !important;
	border-radius: 5px; /* For rounded corners */
	display: inline-block;
	box-sizing: border-box;

}

.TableData > div > input[type="checkbox"]:checked + label::before {
	background-color:#5B40E4;
}

.TableHeader > div > input[type="checkbox"]:checked + label::before {
	background-color:white;
}


.TableHeader {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	border-radius: 10px;
	background-color: #5B40E4;
	color: white;
	font-weight: bold;
	height: 50px;
	text-align: left;
}

.TableData {
	font-weight: bold;
	color: #6e6e6e;
	transition: background-color 0.08s ease;
	border: #cccccc solid;
	border-width: 0px 0px 0px 0px;
	text-align: left;
	transition: all 0.08s ease;
}

.TableData:hover {
	/* background-color: #7B59E2; */
	color: black;
	transform: scale(1.01);
}

.TableHeader > div > label {
	background-color: #352D66;
	pointer-events: all;
}

.TableData > div > label {
	background-color: #cccccc;
}

.TableDataContainer {
	position:absolute;
	display: flex;
	flex-direction: column;
	gap: 5px;
	overflow: scroll;
	/* max-height: 100%; */
	bottom: 20px;
	top: 50px;
	/* width: 100%; */
	left: 0px;
	right: 0px;
	overflow-x: hidden;
}

.DataStatus > div > p {
	padding: 0px;
	margin: 0px;
}

.DataStatus > div {
	height: min-content;
	width: 60px;
	padding: 2px;
	border-radius: 10px;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	border: #5B40E4 1px solid;


}

.DataStatusAvailable > div{

	background-color: white;
	color: #5B40E4;
}


.DataStatusBorrowed > div {
	/* background-color: rgb(255, 157, 0); */
	/* color: #eeeeee; */
	background-color: #5B40E4;
	color: #eeeeee;
}


.acc_num {
	color: #5B40E4;
	font-weight: bold;
}
